<h1> <%= @user.username %>'s profile</h1>

<h2>Your Questions</h2>
<ul>
<% @questions.each do |question| %>
  <li><%= link_to question.title, question %></li> 
  <% end %> 
</ul>

<%= button_to "Add New Question", new_question_path, method: :get %>
false
